[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frozen-flask = "*"
flask-flatpages = "*"
markdown = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.9"
