{% extends "base.html" %}
{% block title %}Actuarial Studies for Business{% endblock %} 
{% block content %}
<div class="container" style="padding: 25px;">
	<div class="row">
		<div class="col">
			<img src="{{url_for('static',filename='img/actuary.jpg')}}" class="img-thumbnail" >
			<h1 class="display-3">Actuarial Studies for Business</h1>
			<p>This major prepares students for a career path in the insurance industry, as well as for a series of actuarial examinations. These examinations test an individual’s competence in probability, calculus, statistics, and other branches of mathematics</p>
		</div>
		<div class="col">
			<div class="container">
			<h2 class="display-4">Major Requirements</h2>
			<h6>Requirements for Actuarial Studies Majors:</h6>
			<ol>
				<li>Admission requires a GPA of 3.3 (subject to revision) in the first four courses listed below.</li>
				<li>The minimum GPA is 2.7 for courses taken for the major in finance at Queens College.</li>
				<li>No Individual Grade below C- is accepted.</li>
				<li>No more than 21 credits can be transferred into the program from other colleges</li>
			</ol>
			<h6>Important Announcement for Actuarial Majors:</h6>
			<p>Please do not wait until your last semester to take Math 242. It is a course that closes quickly, often during preregistration. When you determine the semester you plan on taking Math 242, please email your name, cuny id, and desired semester to joan.nix@qc.cuny.edu. Please note that your request must be submitted no later than the first week of the semester that you plan on REGISTERING for Math 242. There are no guarantees that you will be able to take the course during your desired semester, therefore, please do not want until your LAST semester at QC to take this course</p>
			<h6>19 Required Courses and 2 Electives as follows:</h6>
			<ol>
				<li>ACCT 101: Introduction to the Theory and Practice of Accounting I </li>
				<li>ACCT 102: Introduction to the Theory and Practice of Accounting II</li>
				<li>ECON 101: Introduction to Macroeconomics</li>
				<li>ECON 102: Introduction to Microeconomics</li>
				<li>141: Calculus/Differentiation, or 151: Calculus/Differentiation & Integration</li>
				<li>MATH 142: Calculus/Integration and 143: Calculus/Infinite Series, or 152: Calculus/Integration & Infinite Series </li>
				<li>MATH 201: Calculus </li>
				<li>MATH 241: Introduction to Probability and Mathematical Statistics</li>
				<li>MATH 242: Methods of Mathematical Statistics - Preregistration is strongly advised for Math 242. Students must email Chengcheng Wen, Mathematics Department, at chengcheng.wen@qc.cuny.edu) prior to pre-registration. </li>
				<li>ACCT 261: Business Law I, or ACCT 367: Federal and New York State Taxes on Income </li>
				<li>ECON 225: Price Theory (Mathematics Emphasis) </li>
				<li>ECON 226: Macro-Economic Analysis (Mathematical Emphasis) </li>
				<li>BUS 160W : Introduction to Business Writing </li>
				<li>BUS 241: Corporation Finance </li>
				<li>BUS 243: Economics of Distribution and Marketing </li>
				<li>BUS 247: Business Economics </li>
				<li>BUS 341W: Intermediate Finance </li>
				<li>CSCI 48: Spreasheet Programming </li>
				<li>PHIL 160 : Business Ethics </li>
				<li>Two Globalization and Environment Elective. </li>
			</ol>
			<h6>Six Recommended Courses for Actuarial Examination</h6>
			<ol>
				<li>BUS 353: Options and Futures Markets</li>
				<li>MATH 116: Mathematics of Finance </li>
				<li>MATH 271: Actuarial Mathematics I: Calculus and Probability </li>
				<li>MATH 272: Actuarial Mathematics II: Probability and Risk Management </li>
				<li>BUS 350: Investment Analysis </li>
				<li>BUS 352: Investment Management </li>
			</ol>
			<p>Students who wish to pursue a career as an actuary may also opt to major in Mathematics, pursuing the Actuarial Science option. Please see <a href="http://qcpages.qc.edu/math/">Math</a> for information about this option and <a href="http://qcpages.qc.cuny.edu/math/actuarial.html">Actuarial</a> for more information about the actuarial exams
			</p>
			</div>
		</div>

	</div>
	<a  class="btn btn-primary" href="{{url_for('programs')}}">Back to Programs</a>
</div>
{%endblock%}