{% extends "base.html" %}
{% block title %}BA in Economics{% endblock %} 
{% block content %}
<div class="container" style="padding: 25px;">
	<div class="row">
		<div class="col">
			<img src="{{url_for('static',filename='img/econ.jpg')}}" class="img-thumbnail" >
			<h1 class="display-3">BA in Economics</h1>
			<p><strong>BA in Economics</strong> major allows students to acquire skills in economic theory, statistical methods, and critical thinking to understand consumer and firm behavior and evaluate the impact of economic policy. Our majors learn skills that allow them to work successfully in government, financial services, insurance, business, and health administration. Courses in economics prepare students for graduate work in economics, business, and public administration and for professional schools such as law, journalism, and social work. Majors in economics are also able to prepare to teach economics or social studies on a secondary level. </p>
		</div>
		<div class="col">
			<div class="container">
				<h2 class="display-4"> Major Requirements</h2>
				<h6>Four requirements for a major in economics</h6>
				<ol>
					<li>C- or better in each of the 11 courses (including Math 131) used to obtain a major in economics. A higher grade in Math 131 cannot be used to satisfy the following two averages. The P/NC option may not be utilized for any course required for the economics major, including MATH 131 or the equivalent</li>
					<li>
						C average in 6 required courses for the major in Economics: 101, 102, 202, 201, 249, and 382
					</li>
					<li>
						C average in 10 Economics or Business courses (6 required plus 4 elective) for the major in Economics. If more than 4 electives are taken, the best 4 are counted in the average
					</li>
					<li>
						Of the 10 required and elective Economics or Business courses, at least 6 (not counting Math 131) must be taken at Queens College so that not more than 4 can be transferred. 
					</li>
					<li>
						Courses that can be taken as electives include Economics and Business courses that are 200 level and above. BUS160W and ECON393 cannot be used as electives. 
					</li>
				</ol>
				<h6>A Major in Economics Requires 7 Courses and 4 Electives as follows:</h6>
				<ol>
					<li>MATH 131: Calculus with Applications to the Social Sciences I or 141 or 151. We strongly encourage students to seek placement in Math 141 (or 151).</li>
					<li>ECON 101: Introduction to Macroeconomics</li>
					<li>ECON 102: Introduction to Microeconomics</li>
					<li>ECON 202: Price Theory or ECO 225</li>
					<li>ECON 201: Macro-Economic Analysis or ECO 226</li>
					<li>ECO 249: Statistics as Applied to Economics and Business or MATH 241</li>
					<li>ECO 382: Introduction to Econometrics (which requires ECON 249 and MATH 131) or BUS 384</li>
					<li>Four Economics Electives</li>
				</ol>
				<h2 class="display-4"> Minor Requirements</h2>
				<h6>Four requirements for a minor in economics</h6>
				<ol>
					<li> C- or better in each of the 7 courses (including Math 131) used to obtain a minor in economics. A higher grade in Math 131 cannot be used to satisfy the following two averages. </li>
					<li>C average in 4 required courses for the minor in Economics: 101, 102; and two of Economics 202, 201, and 249. </li>
					<li>C average in 6 Economics or Business courses (4 required plus 2 elective) for the minor in Economics. If more than 2 electives are taken, the best 2 are counted in the average</li>
					<li>Of the 6 required and elective Economics or Business courses, at least 4 (not counting Math 131) must be taken at Queens College so that not more than 2 can be transferred. </li>
					<li>Courses that can be taken as electives include Economics and Business courses that are 200 level and above. BUS160W and ECON393 cannot be used as electives.</li>
				</ol>
				<h6>A Minor in Economics Requires 5 Courses and 2 Electives as follows:</h6>
				<ol>
					<li>MATH 131: Calculus with Applications to the Social Sciences I or 141 or 151. We strongly encourage students to seek placement in Math 141 (or 151).</li>
					<li>ECON 101: Introduction to Macroeconomics</li>
					<li>ECON 102: Introduction to Microeconomics</li>
					<li>ECON 202/ECO 225: Price Theory or
						ECON 201/ECO 226: Macro-Economic Analysis or
						ECO 249/MATH 241: Statistics as Applied to Economics and Business
					</li>
					<li>ECON 202/ECO 225: Price Theory or
						ECON 201/ECO 226: Macro-Economic Analysis or
						ECO 249/MATH 241: Statistics as Applied to Economics and Business 
					</li>
					<li>Two Economics Electives</li>
				</ol>
			</div>
			
		</div>

	</div>
	<a  class="btn btn-primary" href="{{url_for('programs')}}">Back to Programs</a>
</div>
{%endblock%}