 {% extends "base.html" %}
{% block title %}BBA in International Business{% endblock %} 
{% block content %}
<div class="container" style="padding: 25px;">
	<div class="row">
		<div class="col">
			<img src="{{url_for('static',filename='img/ib.jpg')}}" class="img-thumbnail" >
			<h1 class="display-3">BBA in International Business</h1>
			<p>BBA in <strong>International Business</strong> prepares graduates to deal effectively with the complexities of global business environments. It combines the dynamics of multinational business environments with creative problem solving, team building, presentation skills, strategic planning, and the use of data analysis to solve business problems.</p>
		</div>
		<div class="col">
			<div class="container">
				<h2 class="display-4">Major Requirements</h2>
				<h6>Requirements for International Business Majors</h6>
				<ol>
					<li> Admission requires a GPA of 3.3 (subject to revision) in the first four courses listed below</li>
					<li>The minimum GPA is 2.7 for courses taken for the major in finance at Queens College.</li>
					<li>No Individual Grade below C- is accepted.</li>
					<li>No more than 21 credits can be transferred into the program from other colleges.</li>
				</ol>
				<h6>
					18 Required Courses and 3 Electives as follows:
				</h6>
				<ol>
					<li>ACCT 101: Introduction to the Theory and Practice of Accounting I</li>
					<li>ACCT 102: Introduction to the Theory and Practice of Accounting II</li>
					<li>ECON 101: Introduction to Macroeconomics</li>
					<li>ECON 102: Introduction to Microeconomics</li>
					<li>MATH 131: Calculus with Applications to the Social Sciences I, or MATH 141: Calculus/Differentiation, or MATH 151: Calculus/Differentiation & Integration We strongly encourage students to seek placement in Math 141 (or 151).
					</li>
					<li> ECO 249: Statistics as Applied to Economics and Business, or MATH 241: Introduction to Probability and Mathematical Statistics </li>
					<li> BUS 384: Forecasting and Regression Analysis for Business, or ECO 382: Introduction to Econometrics (which requires ECON 249 and MATH 131)</li>
					<li> ACCT 261: Business Law I, or ACCT 367: Federal and New York State Taxes on Income </li>
					<li>BUS 241: Corporation Finance </li>
					<li>BUS 243: Economics of Distribution and Marketing </li>
					<li>BUS 247: Business Economics </li>
					<li>CSCI 48: Spreasheet Programming </li>
					<li>PHIL 160 : Business Ethics </li>
					<li>BUS 160W : Introduction to Business Writing </li>
					<li>ECON 202: Price Theory </li>
					<li>ECON 326: International Economics (prerequisite ECON 202 or ECON 205) </li>
					<li>ECON 201: Macro-Economic Analysis </li>
					<li>ECON 328: International Finance (prerequisite ECON 201 or ECON 206) </li>
					<li>
						<ul>
							<li>Elective course from Econ 207: Comparative Economic and Financial Systems,</li>
							<li>Econ 208: The Process of Economic Development,</li>
							<li>Econ 229: History of International Business and Finance, 1850 to the Present,</li>
							<li>Bus 255: International Accounting for Non-accountants</li>
							<li>Bus 354: Multinational Financial Management,</li>
							<li>Acct 355: Accounting in International Environment </li>
						</ul>
					</li>
					<li>Two Electives</li>
				</ol>
			</div>
		</div>
	</div>
	<a  class="btn btn-primary" href="{{url_for('programs')}}">Back to Programs</a>
</div>
{%endblock%}