{% extends "base.html" %}
{% block title %}MS in Taxation{% endblock %} 
{% block content %}
<div class="container" style="padding: 25px;">
	<div class="row">
		<div class="col">
			<img src="{{url_for('static',filename='img/tax.jpg')}}" class="img-thumbnail" >
			<h1 class="display-3">M.S. in Taxation</h1>
			<p class="lead">Forthing Coming Spring 2022</p>
			<p>The tax world is changing and taxation today is more of an analytical field than it used to be. Tax practitioners are valued for their ability to help with acquisitions, save companies money and assist corporations with global expansion strategy. </p>
			<p>Our M.S. in Taxation Program is designed to enhance the practical skills, research proficiencies and problem-solving abilities of professionals who work or intend to work in accounting and/or tax consulting firms, private industry, not-for-profit organizations, government, and other organizations where tax strategy can add value.</p>
		</div>
		<div class="col">
			<div class="container">
				<h2 class="display-4">Major Requirements</h2>
			
			</div>
		</div>
	</div>
	<a  class="btn btn-primary" href="{{url_for('programs')}}">Back to Programs</a>
</div>
{%endblock%}