{% extends "base.html" %}
{% block content %}



<!-- hero -->

<section class="hero is-medium">
  <div class="hero-body has-bg-img">
    <div class="container">
      <h1 class="title has-text-white has-text-centered qc-title">
       Queens College School of Business
      </h1>
      <h2 id="typewriter" class="subtitle has-text-white is-size-2 has-text-centered is-family-sans-serif">
      </h2>
    </div>
  </div>
</section>

<!-- hero end -->


<!-- mission statement -->
  <section class="section">
    <div class="container">
        <h1 class="has-text-centered title is-1 headings">Our Mission Statement</h1>
        <p class="is-size-5 is-family-sans-serif has-text-justified is-italic">"The mission of the school of business is to provide students with a marketable skill set reflecting varied intellectual interests including policy, sustainability, and technology. The School through concentrations such as fintech and policy provides an affordable path for a diverse student population to be well-equipped for rewarding and fulfilling careers in a wide variety of industries."
        </p>
    </div>
  </section>
<!--  -->

{% endblock content %}
