{% extends "base.html" %}
{% block title %}Our Programs{% endblock %} 
{% block content %}
<div style="padding-top: 20px;"class="container">
	<div style="color:white; background-color: red"; class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-2 text-center" >Our Programs</h1>
	    <h4 class="text-center">Here you can find a list of programs that Queens College Business School Offers</h4>
	  </div>
	</div>
</div>


<!-- programs -->
<div class="container">
	<h1 class="display-4 text-center">Undergraduate Programs</h1>
	<div style="padding: 10px;" class="row">
		<div class="col">
			<figure class="figure">
			  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/fintech-1.jpg')}}" class="figure-img img-fluid rounded" alt="...">
			  <h5>BBA in Finance</h5>
			  <p class="text-muted">Concentration in Fintech/Finance</p>
			  <a href="{{url_for('finance_bba')}}" class="btn btn-primary">Learn More</a>
			</figure>
		</div>
		<div class="col">
			<figure class="figure">
			  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/ib.jpg')}}" class="figure-img img-fluid rounded" >
			  <h5>BBA in International Business</h5>
			  <p class="text-muted">Major Only</p>
			  <a href="{{url_for('ib')}}" class="btn btn-primary">Learn More</a>
			</figure>
		</div>
		<div class="col">
			<figure class="figure">
			  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/policy.jpg')}}" class="figure-img img-fluid rounded" >
			  <h5>BBA in Business & Policy Analysis</h5>
			  <p class="text-muted">Forthcoming Fall 2022</p>
			  <a href="{{url_for('policy')}}" class="btn btn-primary">Learn More</a>
			</figure>
		</div>
	</div>
	<!-- Second Row -->
	<div class="row" style="padding: 10px;">
		<div class="col">
			<figure class="figure">
			  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/actuary.jpg')}}" class="figure-img img-fluid rounded" >
				<h5>Actuarial Studies For Business</h5>
				 <p class="text-muted">Major Only</p>
				 <a href="{{url_for('actuary')}}" class="btn btn-primary">Learn More</a>
			</figure>
			</div>
		<div class="col">
			<figure class="figure">
			  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/quant.jpg')}}" class="figure-img img-fluid rounded" >
			  <h5>BSc in Quantitative Economics</h5>
			  <p class="text-muted">Major Only</p>
			  <a href="{{url_for('quant')}}" class="btn btn-primary">Learn More</a>
			</figure>
		</div>
		<div class="col">
			<figure class="figure">
			  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/econ.jpg')}}" class="figure-img img-fluid rounded" >
			  <h5>BA in Economics</h5>
			  <p class="text-muted">Major Only</p>
			  <a href="{{url_for('econ')}}" class="btn btn-primary">Learn More</a>
			</figure>
		</div>
	</div>

	<!-- third row -->

	<div class="row">
		<div class="col">
			<figure class="figure">
			  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/account.jpg')}}" class="figure-img img-fluid rounded" >
			  <h5>BSc in Accounting</h5>
			  <p class="text-muted">Major Only</p>
			  <a href="{{url_for('accounting')}}" class="btn btn-primary">Learn More</a>
			</figure>
		</div>
	</div>

	<!-- Graduate -->
	<div class="container"> 
		<h1 class="display-3 text-center">Graduate Programs</h1>
		<div style="padding: 10px;" class="row">
			<div class="col">
				<figure class="figure">
				  <img style="width:400px; height:300px;" src="{{url_for('static',filename='img/tax.jpg')}}" class="figure-img img-fluid rounded" >
				  <h5>M.S. in Taxation</h5>
				  <p class="text-muted">Forth Coming Spring 2022</p>
				  <a href="{{url_for('tax')}}" class="btn btn-primary">Learn More</a>
				</figure>
			</div>
			<div class="col">
				<figure class="figure">
				  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/risk.jpg')}}" class="figure-img img-fluid rounded" >
				  <h5>Graduate Program in Risk Management</h5>
				  <p class="text-muted">Major Only</p>
				  <a href="{{url_for('risk')}}" class="btn btn-primary">Learn More</a>
				</figure>
			</div>
			<div class="col">
				<figure class="figure">
				  <img style="width:400px; height:300px;"src="{{url_for('static',filename='img/account.jpg')}}" class="figure-img img-fluid rounded" >
				  <h5>MS in Accounting</h5>
				  <p class="text-muted">Major Only</p>
				  <a href="{{url_for('msaccounting')}}" class="btn btn-primary">Learn More</a>
				</figure>
			</div>
		</div>

	</div>
</div>
{%endblock%}