<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Our Programs</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base_programs.css') }}" />
		<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please use Modern Browser");
		</script>
	</head>
	<body class="loading">
		<svg class="hidden">
			<symbol id="icon-longarrow" viewBox="0 0 54 24">
				<title>longarrow</title>
				<path d="M.42 11.158L12.38.256c.333-.27.696-.322 1.09-.155.395.166.593.467.593.903v6.977h38.87c.29 0 .53.093.716.28.187.187.28.426.28.716v5.98c0 .29-.093.53-.28.716a.971.971 0 0 1-.716.28h-38.87v6.977c0 .416-.199.717-.592.903-.395.167-.759.104-1.09-.186L.42 12.62a1.018 1.018 0 0 1 0-1.462z" />
			</symbol>
			<symbol id="icon-navarrow" viewBox="0 0 408 408">
				<title>navarrow</title>
				<polygon fill="#ff0000" fill-rule="nonzero" points="204 0 168.3 35.7 311.1 178.5 0 178.5 0 229.5 311.1 229.5 168.3 372.3 204 408 408 204"></polygon>
			</symbol>
		</svg>
		<main>

			<div class="frame">
				<header class="codrops-header">
					<h1 class="codrops-header__title">Use Red Arrows to Navigate</h1>
					<div class="codrops-links">
						<a class="codrops-icon codrops-icon--prev" href="{{ url_for('index') }}"><h1 class="codrops-header__title">Home</h1></a>
						<a class="codrops-icon codrops-icon--prev" href="{{ url_for('faculty') }}" ><h1 class="codrops-header__title">Faculty</h1></a>
						<a class="codrops-icon codrops-icon--prev" href="{{ url_for('programs') }}" ><h1 class="codrops-header__title">Programs</h1></a>
						<a class="codrops-icon codrops-icon--prev" href="/" ><h1 class="codrops-header__title">Resources</h1></a>
						<a class="codrops-icon codrops-icon--prev" href="https://qcsocialsciences.org/qc-business/" title="Previous Demo"><h1 class="codrops-header__title">Mobile Version</h1></a>
					</div>
				</header>
			</div>
			<div class="slideshow">
				<div class="slideshow__deco"></div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/fintech-1.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">1</span>
						<h3 class="slide__title" style="background-color: black;">BBA in Finance</h3>
						<h4 class="slide__subtitle" style="background-color: black;">Concentration in Fintech/Finance</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/ib.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">2</span>
						<h3 class="slide__title" style="background-color: black;">BBA in International Business</h3>
						<!-- <h4 class="slide__subtitle" style="background-color: black;">This is probably the greatest thing to happen in my life</h4> -->
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/policy.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">3</span>
						<h3 class="slide__title" style="background-color: black;">BBA in Business & Policy Analysis</h3>
						<h4 class="slide__subtitle" style="background-color: black;">forthcoming Fall 2022</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/actuary.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">4</span>
						<h3 class="slide__title" style="background-color: black;">Actuarial Studies For Business</h3>
						<!-- <h4 class="slide__subtitle" style="background-color: black;"></h4> -->
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/quant.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">5</span>
						<h3 class="slide__title" style="background-color: black;">BS in Quantitative Economics</h3>
						<!-- <h4 class="slide__subtitle" style="background-color: black;">Let's go up in here, and start having some fun</h4> -->
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/econ.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">6</span>
						<h3 class="slide__title" style="background-color: black;">BA in Economics</h3>
						<!-- <h4 class="slide__subtitle" style="background-color: black;">This is unplanned it really just happens</h4> -->
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/account.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">7</span>
						<h3 class="slide__title" style="background-color: black;">BA in Accounting</h3>
						<!-- <h4 class="slide__subtitle" style="background-color: black;">This is unplanned it really just happens</h4> -->
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/risk.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">8</span>
						<h3 class="slide__title" style="background-color: black;">Graduate Program in Risk Management</h3>
						<!-- <h4 class="slide__subtitle" style="background-color: black;">This is unplanned it really just happens</h4> -->
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(/static/img/tax.jpg);"></div>
					</div>
					<div class="slide__side"></div>
					<div class="slide__title-wrap">
						<span class="slide__number">9</span>
						<h3 class="slide__title" style="background-color: black;">M.S. in Taxation</h3>
						<h4 class="slide__subtitle" style="background-color: black;">forthcoming, Spring 2022</h4>
					</div>
				</div>
				<button class="nav nav--prev">
					<svg class="icon icon--navarrow-prev">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
				<button class="nav nav--next">
					<svg class="icon icon--navarrow-next">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
			</div>
			<div class="content">
				<div class="content__item">
					<span class="content__number">1</span>
					<h3 class="content__title" style="font-size: 2rem;">BBA in Finance</h3>
					<h4 class="content__subtitle">Concentration in Fintech/Finance</h4>
					<div class="content__text">
					<p>Global explosion of digital technology have dramatically changed what employers expect of new college graduates. Students wishing to pursue a career in finance must be able to answer job interview questions about capital structure, the CAPM, machine learning, forecasting, cryptocurrency, and stock market efficiency. Finance professionals are assumed to know how to work with financial models using Python.</p>
					<p> QC Finance students choose one of two concentrations:</p>
					<ul>
						<li><strong>Corporate Finance (Deals with how businesses deal with funding sources,capital structuring and investment decision)</strong></li>
						<p>Students wishing to pursue a career in finance must be able to answer job interview questions about capital structure, the CAPM, machine learning, forecasting, cryptocurrency, and stock market efficiency. </p>
						<li><strong>Fintech (Involves using software to provide financial services)</strong></li>
						This transformation offers career opportunities for those interested in learning how institutions and technology are evolving in this fast-moving and growing space. From cryptocurrencies to blockchains, QC's unique fintech concentration will help arrive at the frontier of applied finance by combining institutional studies with advanced econometric techniques
					</ul>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">2</span>
					<h3 class="content__title" style="font-size: 2rem;">BBA in International Business</h3>
					<h4 class="content__subtitle"></h4>
					<div class="content__text">
						<p>BBA in <strong>International Business</strong> prepares graduates to deal effectively with the complexities of global business environments. It combines the dynamics of multinational business environments with creative problem solving, team building, presentation skills, strategic planning, and the use of data analysis  to solve business problems.</p>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">3</span>
					<h3 class="content__title" style="font-size: 2rem;">BBA in Business & Policy Analysis</h3>
					<h4 class="content__subtitle">Forthcoming Fall 2022</h4>
					<div class="content__text">
					<p>The major prepares students to be responsible for examining the efficacy of existing policies and laying out the groundwork for new programs and legislation, reviewing and amending policy drafts and proposing suggestions to improve the effects of existing policies, work closely with stakeholders to determine the goals and objectives of policies. Students gain understanding of the industry and market conditions and develop strong organization and analytical skills.</p>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">4</span>
					<h3 class="content__title" style="font-size: 2rem;">Actuarial Studies For Business</h3>
					<h4 class="content__subtitle"></h4>
					<div class="content__text">
						<p>This major prepares students for a career path in the insurance industry, as well as for a series of actuarial examinations. These examinations test an individual’s competence in probability, calculus, statistics, and other branches of mathematics</p>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">5</span>
					<h3 class="content__title" style="font-size: 2rem;">BS in Quantitative Economics</h3>
					<h4 class="content__subtitle"></h4>
					<div class="content__text">
						<p>
							<strong>B.Sc. in Quantitative Economics</strong> is a STEM-eligible program for students interested in developing strong quantitative skills through course work in economics, mathematics, and computer science. It is recommended for students interested in careers that require data-intensive analysis in economics, business, or finance, and for those planning graduate studies in economics or who wish to engage in careers in economic research.
						</p>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">6</span>
					<h3 class="content__title" style="font-size: 2rem;">BA in Economics</h3>
					<h4 class="content__subtitle"></h4>
					<div class="content__text">
						<p><strong>BA in Economics</strong> major allows students to acquire skills in economic theory, statistical methods, and critical thinking to understand consumer and firm behavior and evaluate the impact of economic policy. Our majors learn skills that allow them to work successfully in government, financial services, insurance, business, and health administration. Courses in economics prepare students for graduate work in economics, business, and public administration and for professional schools such as law, journalism, and social work. Majors in economics are also able to prepare to teach economics or social studies on a secondary level.
						</p>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">7</span>
					<h3 class="content__title" style="font-size: 2rem;">BA in Accounting</h3>
					<h4 class="content__subtitle"></h4>
					<div class="content__text">
						<p>The  <strong>Accounting major</strong> prepares students for careers in public, private, or governmental accounting. Majors study a complex discipline responsive to the changing economic, social, and legal institutional arrangements necessary to the functioning  of digital society. The functions of accountants encompass ever-evolving and expanding spheres of activity.<br>
						<p>
						We offer two accounting tracks: 
						</p>
						<ul>
							<li>Business Accounting</li>
							<li>Accounting for CPA certification.</li>
						</ul>

						</p>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">8</span>
					<h3 class="content__title" style="font-size: 2rem;">Graduate Program in Risk Management</h3>
					<h4 class="content__subtitle"></h4>
					<div class="content__text">
						<p>
							Leverage your interest in finance with a Master’s degree or a 12-credit Advanced Certificate in Risk Management, a field with rapidly growing career possibilities on Wall Street and across every sector.  The M.S. in Risk Management​ takes 30 credits to complete, if a student has met all prerequisites. Students choose one of four areas of concentration: Finance, International Business, Accounting, or Actuarial Studies. 
						</p>
							<p>
							Study in a top program that’s affordable—and in close proximity to the world’s capital markets.
							</p>
							<p>
							Our graduates go on to careers in major financial institutions as well as industry, government, consulting, assurance, and audit and actuarial services.
						</p>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">9</span>
					<h3 class="content__title" style="font-size: 2rem;">M.S. in Taxation</h3>
					<h4 class="content__subtitle">forthcoming, Spring 2022</h4>
					<div class="content__text">
						<p>
							The tax world is changing and taxation today is more of an analytical field than it
							used to be. Tax practitioners are valued for their ability to help with acquisitions, save companies money and assist corporations with global expansion strategy.
							</p>
							<p>
							Our M.S. in Taxation Program is designed to enhance the practical skills, research
							proficiencies and problem-solving abilities of professionals who work or intend to work in accounting and/or tax consulting firms, private industry, not-for-profit organizations, government, and other organizations where tax strategy can add value.
						</p>
					</div>
				</div>
				<button class="content__close">
					<svg class="icon icon--longarrow">
						<use xlink:href="#icon-longarrow"></use>
					</svg>
				</button>
			</div>
		</main>
		<script src="{{ url_for('static',filename='js/charming.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/imagesloaded.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/TweenMax.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/demo_programs.js') }} "></script>
	</body>
</html>
